body {
    margin: 0;
    background-color: rgb(186, 206, 226);
}

header {
    width: 100%;
    height: 50px;
    background-color: mediumblue;
    position: fixed;
    padding-top: 20px;
}

.nav-bar a {
    color: #fff;
    margin: 0 80px;
    text-decoration: none;
    font-size: 1.5em;
}

main {
    padding-top: 80px;
}

.name {
    font-size: 40px;
    color: rgb(5, 5, 80);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.about {
    width: 50%;
    display: inline-flex;
    align-items: center;
    margin: 20px 0 30px 20%;
}

.image {
    width: 180px;
    height: 180px;
    background-color: grey;
    border-radius: 50%;
    padding: 5px;
}

#img {
    width: 180px;
    height: 180px;
}

.description {
    margin-left: 15px;
    font-weight: 600;
    font-size: x-large;
}

.me {
    margin: 30px 15%;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.2;
}

.hyperlinks{
    text-align: center;
    padding: 50px;
}

.hyperlinks a{
    text-decoration: none;
    font-size: 2em;
    text-align: center;
    margin: 50px;
    color: rgb(88, 4, 4);
}

.lists {
    width: 60%;
    align-content: center;
    margin: 0 auto 80px;
    background-color: rgb(121, 174, 207);
    padding: 20px 0;
}

.lists h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.lists ul, ol {
    margin-left: 80px;
    font-size: 1.35em;
}

.lists a {
    text-decoration: none;
    color: rgb(3, 83, 79);
}
